






<%- include('partials/header') %>

    <div id="nature"></div>
    <div class="title">ENCORE</div>

    <!-- <a class="btn btn-primary btn-lg btn-lg" href="/login" role="button"><h3>Explore</h3></a> -->

        <div class="row">
          <div class="pricing-column col-lg-4 col-md-6">
            <div class="card">
              <div class="card-header">
                <h2>STUDENTS</h2>
              </div>
              <div class="card-body">
                <h2 class="price-text">Add Students</h2>
                <a type="button" href="/add" class="btn btn-primary btn-lg">Add</a>
                

              </div>
            </div>
          </div>
          <div class=" pricing-column col-lg-4 col-md-6">
            <div class="card">
              <div class="card-header">
                <h2>INFO</h2>
              </div>
              <div class="card-body">
                <h2 class="price-text">Show Students</h2>
                <a type="button" href="/student" class="btn btn-primary btn-lg">Info</a>
               

              </div>
            </div>
          </div>
          <div class="pricing-column col-lg-4">
            <div class="card">
              <div class="card-header">
                <h2>MENTORS</h2>
              </div>
              <div class="card-body">
                <h2 class="price-text">Show Mentors</h2>
                <a type="button" href="/mentor" class="btn btn-primary btn-lg">Show</a>
              </div>
            </div>
          </div>
         </div>

<%- include('partials/footer') %>